@import "./functions";
@import "./variables";



body {
    background-color: #F0F2EF;
    color: #000;
    margin: none;
    padding: 0;
    border: 0;
}

//Header/Navbar Begins//

#logo {
    width: 110px;
    height: 70px;
    background-image: url(/resources/images/GYA-Logo_White1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}






//Header/Navbar CSS ends//



// Carousel CSS begins//

#carousel-slides {
    width: 100vw;


    #carousel-cover {
        width: inherit;
        height: $CarouselHeight;
        background-color: rgb(32, 32, 32);
        opacity: 0.4;
        z-index: 2;
        position: absolute;

    }

    #intro-container {
        @include flexProp(center, center);
        z-index: 3;
        width: inherit;
        height: 60vh;
        position: absolute;
        
    }

    #introCard {
        
        color: #fff;
        border: 2px solid #212529;
        opacity: 0.9;
        #introCard-body {
            @include flexProp(center, center);
            flex-flow: column;
            background-color: #212529;
        }

    }


    #generatorBtn {
        display: flex;
        background-color: #df7e00;
        @include textProp(normal, #e1e1e1, bold, center);
        border: none;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
    }

    #generatorBtn:active {
        transform: translateY(4px);
    }

    #generatorBtn:hover {
        color: #fff;
        background-color: #881600;
    }

    #carousel-body {
        width: 100vw;

    }

    #carousel-img {

        height: $CarouselHeight;
        @include ImgProp(url(https://images.unsplash.com/photo-1541534741688-6078c6bfb5c5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80), center, no-repeat, cover);
        //<span>Photo by <a href="https://unsplash.com/@johnarano?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">John Arano</a> on <a href="https://unsplash.com/s/photos/gym?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>

    }

    #carousel-img2 {
        height: $CarouselHeight;
        @include ImgProp(url(https://images.unsplash.com/photo-1598632640487-6ea4a4e8b963?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80), center, no-repeat, cover);
        // <span>Photo by <a href="https://unsplash.com/@karsten116?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Karsten Winegeart</a> on <a href="https://unsplash.com/s/photos/pushups?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    }

    #carousel-img3 {
        height: $CarouselHeight;
        @include ImgProp(url(https://miro.medium.com/max/700/0*YArrGzYvW56smeHu), center, no-repeat, cover);
        // <span>Photo by <a href="https://unsplash.com/@johnfo?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">John Fornander</a> on <a href="https://unsplash.com/s/photos/gym?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    }
}



.cards-body {
    height: auto;
    box-shadow: 0 0 5px grey;


    h3 {
        font-size: 110%;
    }

    p {
        width: auto;
        height: auto;
        margin: 10px;
    }

    ul {
        margin-left: -10px;
    }

}



.note {
    font-size: 12px;
}
