body {
  background-color: #F0F2EF;
  color: #000;
  margin: none;
  padding: 0;
  border: 0;
}

#logo {
  width: 110px;
  height: 70px;
  background-image: url(/resources/images/GYA-Logo_White1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#carousel-slides {
  width: 100vw;
}

#carousel-slides #carousel-cover {
  width: inherit;
  height: 70vh;
  background-color: #202020;
  opacity: 0.4;
  z-index: 2;
  position: absolute;
}

#carousel-slides #intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  width: inherit;
  height: 60vh;
  position: absolute;
}

#carousel-slides #introCard {
  color: #000;
}

#carousel-slides #introCard #introCard-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #F0F2EF;
}

#carousel-slides #introCard #icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#carousel-slides #generatorBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #df7e00;
  font-size: normal;
  color: #e1e1e1;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#carousel-slides #generatorBtn:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

#carousel-slides #generatorBtn:hover {
  color: #fff;
  background-color: #881600;
}

#carousel-slides #carousel-body {
  width: 100vw;
}

#carousel-slides #carousel-img {
  height: 70vh;
  background-image: url(/resources/images/Legend_Fitness_HappyMembers.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#carousel-slides #carousel-img2 {
  height: 70vh;
  background-image: url(/resources/images/Militarypressgirl1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#carousel-slides #carousel-img3 {
  height: 70vh;
  background-image: url(/resources/images/Squatgirl.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cards-body {
  height: auto;
  -webkit-box-shadow: 0 0 5px grey;
          box-shadow: 0 0 5px grey;
}

.cards-body h3 {
  font-size: 110%;
}

.cards-body p {
  width: auto;
  height: auto;
  margin: 10px;
}

.cards-body ul {
  margin-left: -10px;
}

.note {
  font-size: 12px;
}
/*# sourceMappingURL=master.css.map */