<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Exercises</title>
    <style>
        .newEx{
            width: 40vw;
            margin: auto;
            display: flex;
            justify-content: center;
            align-self: center;
            flex-flow: row;
        }
        .newEx form{
            display: flex;
            flex-flow: column;
            
        }

        #formBtn{
            width: 100%;
            height: 40px;
        }


    </style>
</head>
<body>
    <div class="newEx">
        <form action="/postexercise" method="POST">
            <label for="">Area of Exercise</label>
            <input name="area" type="text" placeholder="biceps, back, quads etc">
            <label for="">Exercise Name:</label>
            <input name="exerciseName" type="text" placeholder="Ex. Lat pulldown"><br>
            <input id="formBtn" type="submit" value="Submit">
        </form>
    </div>

</body>
</html>